[submodule "MQTTnet"]
	path = MQTTnet
	url = https://github.com/dotnet/MQTTnet.git
[submodule "aws-iot-custom-auth-lambda"]
	path = aws-iot-custom-auth-lambda
	url = https://github.com/TCROC/aws-iot-custom-auth-lambda.git
